


:root{
  --a1_col: #7A8DFF;
  --a2_col: #6C73A1;
  --a3_col: #525fad;
  --a4_col: #B0BBFF;
  --a5_col: #b0bbffb5;
  --a6_col: #f0f0f0;
  --b1_col: #FDFF8B;
  --b2_col: #BDBE7E;
  --b3_col: #A3A42C;
  --b4_col: #FEFFA8;
  --b5_col: #FEFFBF;
  --c1_col: #ff9667b8;
  --c2_col: #A17764;
  --c3_col: #7C300D;
  --c4_col: #FFC1A4;
  --c5_col: #FFE3D6;
  --c6_col: #ff966773;
  --e1_col: #9C9C9C;
  --e2_col: #A7A7A7;
  --e3_col: #D5D5D5;
  --e4_col: #f0f0f0;
  --f3_col: #3F3F3F;


}


/*
оттенок 249
угол 52
*/
