


:root{
  /* --a1_col: */
  --a2_col: #8787BE;
  --a3_col: #3232A4;
  --a4_col: #B5B5FF;
  --a5_col: #C9C9FF;
  --a6_col: #f0f0f0;
  /* --b1_col: */
  /* --b2_col: */
  --b3_col: #90A42C;
  /* --b4_col: */
  /* --b5_col: */
  --c1_col: #FFAC8B;
  /* --c2_col: */
  --c3_col: #A44E2C;
  /* --c4_col: */
  --c5_col: #FFD1BF;
  --c6_col: bisque;
  --e1_col: #9C9C9C;
  --e2_col: #A7A7A7;
  --e3_col: #D5D5D5;
  --e4_col: #f0f0f0;
  --f3_col: #3F3F3F;


}


/*
оттенок 249
угол 52
*/
